.main {
    width: 80%;
    font-size: 22px;
    margin: auto;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    background: hsla(120, 100%, 87%, 0.192);
}

.news {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    background: hsla(120, 100%, 87%, 0.192);
    display: flex;
    flex-wrap:wrap-reverse;

}
.singlenews{
    width: 80%;
    font-size: 20px;
    margin:0px auto ;
    text-align: center;
    overflow: hidden;
    background: hsla(120, 100%, 87%, 0.192);
    font-family: 'Amiri', serif;
}
.card {
    width: 300px;
    margin: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
.card:hover{
    background:rgba(128, 128, 128, 0.158)
}

.card h1 {
    font-size: 20px;
    margin-top: 12px
}

.card img {
    width: 300px;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.main div {
    margin: 50px 0px;
}

.main div b {
    color: #1A5D1A;
}

.main h1 {
    text-orientation: sideways-right;
    color: #000000;
}

.main p {
    font-size: 22px;
    margin: 40px 0px;
}

.main a {
    text-decoration: none;
    color: #82CD47;
    font-weight: 600;
    margin: 0px 10px;

}

.handleImg {
    border-radius: 5px;
    margin: 50px 0px;
}

.FlexImages {
    display: flex;
    gap: 10px;
}

.linkLive a,
.match a {
    color: rgb(119, 2, 29) !important;
    transition: all 0.3s;
}

.linkLive a:hover,
.match a:hover {
    color: #f25 !important;
}

.match {
    border-top: 2px solid #ffffff;
    padding-top: 30px;
}

.match a {
    color: rgb(119, 2, 29) !important;
    transition: all 0.3s;
}


@media (max-width:500px) {
    .main {
        padding: 10px;
        width: 100%;
    }
    .singlenews{
        width: 100%;
    }
    .main h1 {
        font-size: 20px;
    }

    .main p {
        font-size: 18px;
        margin: 20px 0px;
    }

    .FlexImages {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}